services:
  - type: web
    name: frontend
    env: static
    buildCommand: npm run build
    staticPublishPath: ./build
    rootDir: ./client
    routes:
      - type: rewrite
        source: /*
        destination: /index.html