# Database files
*.db
*.sqlite
*.sqlite3
instance/
migrations/

# Pipenv
Pipfile.lock

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Flask
.env
.env.local
.env.*.local
.flaskenv

# Logs
*.log
server.log

# M-Pesa
mpesa_logs/