[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-bcrypt = "*"
flask-cors = "*"
flask-jwt-extended = "*"
flask-marshmallow = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-restful = "*"
sendgrid = "==6.11.0"
python-dotenv = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.9"
